body {
		color:white;
		background-image:url('https://images.hdqwalls.com/download/black-panther-helmet-illustration-5k-36-3840x2160.jpg');
		background-repeat: no-repeat;
		background-size:cover;		
		}
